@font-face {
  font-family: "iconfont"; /* Project id 3996220 */
  src: url('iconfont.woff2?t=1685437851842') format('woff2'),
       url('iconfont.woff?t=1685437851842') format('woff'),
       url('iconfont.ttf?t=1685437851842') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e65d";
}

.icon-tiaoboruku:before {
  content: "\e608";
}

.icon-yidaohuo:before {
  content: "\e6cb";
}

.icon-zichan:before {
  content: "\e619";
}

.icon-shalou:before {
  content: "\e61a";
}

.icon-tuichu:before {
  content: "\e645";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e639";
}

.icon-xiaoxi:before {
  content: "\e62f";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e8b2";
}

