/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.redBtn{
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-color: #DB0039;
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
    margin-top: 20px;
}
.greyBtn{
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-color: #666666;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
}